<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>A little bit beyond basics ppt</title>
</head>
<body>

<header>
    <h1>A little bit beyond basics</h1>
    <nav>
        <ul>
            <li><a href="justCss.html">Just css</a></li>
            <li><a href="cssAndHtml.html">Css and Html</a></li>
            <li><a href="lotsOfCssAndHtml.html">Both again but more</a></li>

            <li><a href="quizzes/cssBottom.html"> Quiz! </a></li>

            <li><a href="defer.html">Defer</a></li>
            <li><a href="async.html">Async</a></li>
            <li><a href="iframe.html">Iframe</a></li>
            <li><a href="loadTimes.html">Load Times</a></li>

            <li><a href="bestPractices.html">Best Practices</a></li>
        </ul>
    </nav>
</header>

</body>
</html>