<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">

    <title>A little bit beyond basics ppt</title>

    <link rel="stylesheet" href="/stylesheets/style.css?delay=1"/>

    <script>
        function measureCRP() {
            var t = window.performance.timing,
                    interactive = t.domInteractive - t.domLoading,
                    dcl = t.domContentLoadedEventStart - t.domLoading,
                    complete = t.domComplete - t.domLoading;
            var stats = document.createElement('p');
            stats.textContent = 'interactive: ' + interactive + 'ms, \n' +
                    'domContentLoadedEvent: ' + dcl + 'ms,\n domComplete: ' + complete + 'ms';

            document.body.insertBefore( stats, document.body.firstChild );
        }
    </script>
</head>
<body onload="measureCRP()">

<h1>Navigation Timing API</h1>
<p>The foundation of every solid performance strategy is good measurement and instrumentation.
    Turns out, that is exactly what the Navigation Timing API provides.</p>

<img width="980px" src="/images/navigationAPICanIUse.png?delay=3" alt="Can I use async?"/>

<div class="content">

    <p><img src="/images/dom-navtiming.png" class="center" alt="Navigation Timing"></p>

    <p>Each of the labels in the above diagram corresponds to a high resolution timestamp that the browser tracks for
        each and every page it loads. In fact, in this specific case we’re only showing a fraction of all the different
        timestamps — for now we’re skipping all network related timestamps, but we’ll come back to them in a future
        lesson.</p>

    <p>So, what do these timestamps mean?</p>
    <ul>
        <li><strong>domLoading:</strong> this is the starting timestamp of the entire process, the browser is about to
            start parsing the first received bytes of the HTML document.
        </li>
        <li><strong>domInteractive:</strong> marks the point when the browser has finished parsing all of the HTML and
            DOM construction is complete.
        </li>
        <li><strong>domContentLoaded:</strong> marks the point when both the DOM is ready and there are no stylesheets
            that are blocking JavaScript execution - meaning we can now (potentially) construct the render tree.
            <ul>
                <li>Many JavaScript frameworks wait for this event before they start executing their own logic. For this
                    reason the browser captures the <em>EventStart</em> and <em>EventEnd</em> timestamps to allow us to
                    track how long this execution took.
                </li>
            </ul>
        </li>
        <li><strong>domComplete:</strong> as the name implies, all of the processing is complete and all of the
            resources on the page (images, etc.) have finished downloading - i.e. the loading spinner has stopped
            spinning.
        </li>
        <li><strong>loadEvent:</strong> as a final step in every page load the browser fires an “onload” event which can
            trigger additional application logic.
        </li>
    </ul>
    <p>The HTML specification dictates specific conditions for each and every event: when it should be fired, which
        conditions should be met, and so on. For our purposes, we’ll focus on a few key milestones related to the
        critical rendering path:</p>
    <ul>
        <li><strong>domInteractive</strong> marks when DOM is ready.</li>
        <li><strong>domContentLoaded</strong> typically marks when <a
                href="http://calendar.perfplanet.com/2012/deciphering-the-critical-rendering-path/">both the DOM and
            CSSOM are ready</a>.
            <ul>
                <li>If there is no parser blocking JavaScript then <em>DOMContentLoaded</em> will fire immediately after
                    <em>domInteractive</em>.
                </li>
            </ul>
        </li>
        <li><p><strong>domComplete</strong> marks when the page and all of its subresources are ready.</p></li>
    </ul>
</div>

<script type="application/javascript" src="/javascripts/domJs.js?delay=2"></script>

</body>
</html>